.layout {
    display: grid;
    grid-template-areas:
        "title title"
        "aside layout-content";
    grid-template-columns: 270px 1fr;

    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    &__title {
        grid-area: title;
    }
    &__aside {
        grid-area: aside;
    }
    &__content {
        grid-area: layout-content;
    }
    &.layout--simplified {
        grid-template-areas:
            "title title"
            "layout-content layout-content";
        grid-template-columns: 1fr;
    }
}

.filters-handler {
    padding-left: 42px;
    position: relative;
    &:before {
        position: absolute;
        content: "";
        width: 19px;
        height: 19px;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);

        background: url("../../../assets/images/icons/filters-icon.svg")
            no-repeat center / contain;
    }
}

.catalog-load {
    display: flex;
    justify-content: center;
    padding: 12px;
}

@media screen and (max-width: 768px) {
    .layout {
        grid-template-areas:
            "title"
            "aside"
            "layout-content";
        grid-template-columns: 1fr;
        padding-top: 0;
        padding-bottom: 0;
    }
}
