.news {
  
  &__main {
    margin-bottom: 40px;
    padding-top: 15px;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 100px;
  }
  
}

@media screen and (max-width: 768px) {
  .news {
    &__main {
      margin-bottom: 20px;
    }
    &__grid {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}
