.icon-button{
  @include reset-default-button;
  display: flex;
  justify-content: center;
  align-items: center;
  &:disabled{
    opacity: 0.5;
  }
  img, svg{
    max-width: 100%;
    max-height: 100%;
  }
}