.cart {
  &-footer {
    border-top: 2px solid var(--defaultGold);
    padding-top: 52px;
    padding-bottom: 45px;
  }
  &-disclaimer {
    font-family: var(--proxima);
    font-size: 18px;
    font-weight: 300;
    line-height: 25.2px;
    margin-bottom: 40px;
  }
  &-line {
    margin-bottom: 40px;
    font-family: var(--proxima);
    font-size: 18px;
    font-weight: 300;
    line-height: 25.2px;
    position: relative;
    padding-left: 26px;
    &:before {
      position: absolute;
      content: "";
      left: 0%;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--defaultGold);
    }
  }
}
