.order {
    padding-top: 30px;

    &__title {
        text-align: center;
        font-size: 42px;
        font-weight: 400;
        line-height: 100%;
        font-family: var(--morePro);
        margin-bottom: 22px;
    }

    &__form {
        width: 100%;
        max-width: 570px;
        margin: 0 auto;
        margin-bottom: 50px;
        position: relative;

        .field,
        .checkbox {
            margin-bottom: 24px;
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
        .checkbox {
            align-items: center;
            &__label {
                color: black;
            }
        }
        .messages {
            margin-bottom: 24px;
            p {
                color: tomato;
                font-weight: 600;
                font-size: 15px;
            }
        }
    }
    .btn {
        width: 100%;
    }
}

.success-modal {
    padding: 40px;
    box-sizing: border-box;
    background-color: white;
    position: relative;
    &:after {
        --offset: 14px;
        position: absolute;
        content: "";
        top: calc(var(--offset) * -1);
        left: calc(var(--offset) * -1);
        width: calc(100% + calc(var(--offset) * 2));
        height: calc(100% + calc(var(--offset) * 2));
        border: 1px solid #e2d9cf;
        z-index: -1;
    }
    &__heading {
        font-size: 28px;
        margin-bottom: 12px;
        color: var(--defaultGold);
    }
}

@media screen and (max-width: 768px) {
    .order {
        &__title {
            font-size: 24px;
            line-height: 28.8px;
            margin-bottom: 17px;
        }
    }
}
