.feature-item {
  display: flex;
  align-items: center;
  padding: 21px 0;
  border-bottom: 1px solid #e2d9cf;
  &:nth-last-of-type(-n + 2) {
    border-bottom: none;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    flex-basis: 20px;
    flex-shrink: 0;
  }
  &__name {
    color: var(--defaultGold);
    font-family: var(--morePro);
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 8px;
  }
  &__value {
    font-family: var(--proxima);
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
  }
}

@media screen and (max-width: 768px) {
  .feature-item {
    padding: 15px 0;
    &:nth-last-of-type(-n + 2){
      border-bottom: 1px solid #e2d9cf;
    }
    &:last-child{
      border: none;
    }
    &__name {
      font-size: 16px;
    }
    &__value {
      font-size: 16px;
      font-weight: 300;
      line-height: 16px;
    }
  }
}
